<div class="container my-4">
  <div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex.gt-xs="33%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>ورود</mat-card-title>
        </mat-card-header>
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">
          <mat-card-content>
            <div fxLayout="column" fxLayoutGap="15px">
              <mat-form-field appearance="fill">
                <mat-label>شماره تلفن</mat-label>
                <span matSuffix>98+ &nbsp;</span>
                <input matInput [(ngModel)]="form.mobile_number" name="mobile_number" required>
                <mat-icon matPrefix>phone</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>رمز عبور</mat-label>
                <input matInput [(ngModel)]="form.password" name="password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="$event.preventDefault();hide = !hide" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions fxLayout="column">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid || isLoading">ورود</button>
            <!--      <button mat-button [routerLink]="['/user/auth/register']">حساب کاربری ندارم!</button>-->
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
